{{define "page-bio"}}
<!doctype html>
<html lang="ru">
    <head>
        {{template "part-head" .}}
        <link rel="stylesheet" href="/css/page.css" />
    </head>
    <body>
        {{template "part-header-page"}}

        <main class="page">
            <h1 class="page__title">{{.Title}}</h1>

            <div class="bio__content">
                <div class="bio__image">
                    <img
                        src="{{.Bio.Image.MaxQ}}"
                        alt="{{.Bio.Image.Alt}}"
                        width="400"
                        height="600"
                    />
                </div>

                <div class="bio__text">{{.BioMarkdown}}</div>
            </div>
        </main>

        <script src="/js/theme.js"></script>
    </body>
</html>
{{end}}
