{{define "part-series-many"}}
<div class="series__media">
    <div class="series__stage">
        <button
            class="nav nav--prev"
            type="button"
            aria-label="Предыдущая работа"
        >
            <img src="/img/btn_Previous.svg" alt="" />
        </button>

        <img
            class="artwork"
            src="{{.Image.MaxQ}}"
            alt="{{.Image.Alt}}"
            data-artwork-image
        />

        <button
            class="nav nav--next"
            type="button"
            aria-label="Следующая работа"
        >
            <img src="/img/btn_Next.svg" alt="" />
        </button>
    </div>

    <div class="slider-dots" data-slider-dots></div>

    {{template "part-series-info" .}}
</div>
{{end}}

{{define "part-series-one"}}
<div class="series__media">
    <div class="series__stage">
        <img class="artwork" src="{{.Image.MaxQ}}" alt="{{.Image.Alt}}" />
    </div>

    {{template "part-series-info" .}}
</div>
{{end}}

{{define "part-series-info"}}
<dl class="series__info" data-info>
    <div class="info__name">
        <dd data-meta="title">{{.Title}}</dd>
    </div>
    <div class="info__row">
        <dt>Год создания работы:</dt>
        <dd data-meta="year">{{.Year}}</dd>
    </div>
    <div class="info__row">
        <dt>Техника:</dt>
        <dd data-meta="technique">{{.Technique}}</dd>
    </div>
    <div class="info__row">
        <dt>Размер:</dt>
        <dd data-meta="size">{{.Size}}</dd>
    </div>
    {{if ne .Sheet ""}}
    <div class="info__row">
        <dt>Лист:</dt>
        <dd data-meta="sheet">{{.Sheet}}</dd>
    </div>
    {{end}}
</dl>
{{end}}
